
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-beer:before { content: '\e803'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
